doctype html

html(lang='en')
    head
        style
            include styles.css
    body
        table
            tr.total
                td 
                td Total Unbonding
                td.data.amount= totalUnbonding + ' DSM'
            tr
                th 
                th Delegator
                th.data Amount
            each u, i in unbondings
                tr
                    th= i
                    td= u.address
                    td.data= u.amount + ' DSM'